@font-face {
    font-family: STRunes;
    src: url("./assets/STRunes.otf") format("opentype");
}
@font-face {
    font-family: Handy;
    src: url("./assets/handy.ttf") format("truetype");
}
@font-face {
    font-family: RobotoMono;
    src: url("./assets/robotomono.ttf") format("truetype");
}

body {
    font-family: Handy;
    background-image: url("./assets/bgs/crissXcross.png");
    color: #ccc;
    overflow: hidden;
}

body#enter {
    background-image: url("./assets/bgs/stars.gif");
}

h1 {
    text-shadow: 1px 1px 2px #fbc774cc;
    font-size: 24pt;
    line-height: 24pt;
}

p#enter {
    font-size: 24pt;
    line-height: 24pt;
    font-family: Handy;
    text-shadow: none;
    position: absolute;
    display:block;
    z-index: 0;
    padding-top: 450px;
    padding-left: 690px;
}
p#enter2 {
    font-size: 10pt;
    line-height: 10pt;
    font-family: RobotoMono;
    text-shadow: none;
    position: absolute;
    display:block;
    z-index: 0;
    padding-top: 450px;
    padding-left: 690px;
    color: #444;
}

p.handysmall {
    font-size: 7pt;
    font-family: Handy;
}

a#entrance {
        font-size: 24pt;
            line-height: 24pt;
            font-family: Handy;
    text-decoration: wavy;
    color: d09639;
}

img#voyager {
    display: block;
    transform: rotate(35deg);
    padding-top: 150px;
    padding: 270px;
    position: absolute;
    z-index: -1;
}

figure.curation-l {
    display: inline-block;
}

figure.curation-l img {
    display: inline-block;
    transform: rotate(10deg);
    margin-top: 50px;
    margin-left: 70px;
    max-width: 65%;
    border-top: 15px solid #f3e5bd;
    border-left: 15px solid #f3e5bd;
    border-right: 15px solid #f3e5bd;
    border-bottom: 60px solid #f3e5bd;
    box-shadow: 4px 4px #7e76615e;
    position: static;
    z-index: 1;
}

figure.curation-l figcaption {
    font-family: RobotoMono;
    font-size: 10pt;
    color: #ffffff;
    margin-left: 70px;
    background-color: #5e5747;
    padding: 5px;
    padding-left: 15px;
    transform: rotate(10deg);
    margin-top: -60px;
    max-width: 40%;
    position: relative;
    z-index: 3;
}

figure.curation-r {
    display: inline-block;
}

figure.curation-r img {
    display: inline-block;
    transform: rotate(-10deg);
    margin-top: 50px;
    margin-left: 150px;
    max-width: 65%;
    border-top: 15px solid #f3e5bd;
    border-left: 15px solid #f3e5bd;
    border-right: 15px solid #f3e5bd;
    border-bottom: 60px solid #f3e5bd;
    box-shadow: 4px 4px #7e76615e;
}

figure.curation-r figcaption {
    font-family: RobotoMono;
    font-size: 10pt;
    color: #ffffff;
    margin-left: 220px;
    background-color: #5e5747;
    padding: 5px;
    padding-left: 15px;
    margin-top: -45px;
    transform: rotate(-10deg);
    max-width: 40%;
    position: relative;
    z-index: 3;
}

figure.curation-c {
    display: inline-block;
}

figure.curation-c img {
    display: inline-block;
    transform: rotate(0deg);
    align-self: center;
    margin-top: 50px;
    margin-left: 110px;
    max-width: 55%;
    border-top: 15px solid #f3e5bd;
    border-left: 15px solid #f3e5bd;
    border-right: 15px solid #f3e5bd;
    border-bottom: 60px solid #f3e5bd;
    box-shadow: 4px 4px #7e76615e;
}

figure.curation-c figcaption {    
    font-family: RobotoMono;
    font-size: 10pt;
    color: #ffffff;
    margin-left: 70px;
    background-color: #5e5747;
    padding: 5px;
    padding-left: 15px;
    max-width: 40%;
    transform: rotate(0deg);
    margin-top: -50px;
    margin-left: 150px;
    position: relative;
    z-index: 3;
}

img.curation-c {
    display: inline-block;
    transform: rotate(0deg);
    align-self: center;
    margin-top: 50px;
    margin-left: 110px;
    max-width: 55%;
    border-top: 15px solid #f3e5bd;
    border-left: 15px solid #f3e5bd;
    border-right: 15px solid #f3e5bd;
    border-bottom: 60px solid #f3e5bd;
    box-shadow: 4px 4px #7e76615e;
}

h2 {
    text-shadow: 1px 1px 1px #d09639cc;
    line-height: 0;
    font-size: 16pt;
    line-height: 16pt;
}

/* for blog titles */
h4 {
    margin-bottom: 0;
    line-height: 0;
    font-size: 12pt;
    line-height: 12pt;
}

/* for blog dates */
h5 {
    margin-bottom: 0;
    line-height: 0;
    font-size: 9pt;
    line-height: 9pt;
}

p {
    font-size: 9pt;
    font-family: RobotoMono;
}

a {
    font-size: 9pt;
    font-family: RobotoMono;
    font-weight: bold;
    color: #fbc774;
    text-decoration: underline wavy;
}

img {
    line-spacing: 0;
}

li {
    font-size: 9pt;
    font-family: RobotoMono;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0px;
}

.column {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 3;
    overflow:scroll;
    max-height: 400px;
    background-image: url("./assets/bgs/black_paper.png");
    padding: 25px;
    border: 2px dashed #444;
    border-radius: 5px;
}

.topbar {
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 3;
    max-height: 195px;
    max-width: 200px;
    overflow: none;
    text-align: center;
    background-image: url("./assets/bgs/black_paper.png");
    padding: 15px;
    border-left: none;
    border-right: 2px dashed #444;
    border-top: 2px dashed #444;
    border-bottom: 2px dashed #444;
    border-radius: 5px;
}

.topbar #counter{
    display: inline-block;
    text-align: right;
}


.bottombar {
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 5;
    max-height: 193px;
    max-width: 200px;
    overflow: hidden;
    text-align: right;
    background-image: url("./assets/bgs/black_paper.png");
    padding: 15px;
    border-left: none;
    border-right: 2px dashed #444;
    border-bottom: 2px dashed #444;
    border-top: none;
    border-radius: 5px;
}

.bottombar #tamanotchi {
    display: inline-block;
    justify-content: right;
}

.header {
    grid-column: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 2;
}

.footer {
    grid-column: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 7;
}

div#tapes {
    font-size: 7pt;
    span#lastfm {
        font-size: 7pt;
    }
}

img#cassette {
    max-width: 60%;
    height: auto;
    vertical-align: bottom;
    display: table-cell;
}

.column a {
    font-size: 9pt;
    font-family: Handy;
    letter-spacing: 1px;
    color: #fbc774;
    text-decoration: none;
    font-weight: normal;
}

a.nav {
    font-size: 9pt;
    font-family: Handy;
    letter-spacing: 3px;
    color: #fbc774;
    text-decoration: none;
    font-weight: normal;
}

.statusbox {
    font-size: 7pt;
    font-family: RobotoMono;
}

#statuscafe {
    color: #ccc;
}

#statuscafe-username {
    font-family: Handy;
}

#statuscafe-username, a {
    font-size: 7pt;
    font-family: Handy;
    text-decoration: none;
}

#statuscafe-content {
    text-align: right;
    font-family: RobotoMono;
    color: #ccc;
}

.runes {
    font-family: STRunes;
    font-weight:400;
    letter-spacing: 5;
}

.roboto {
    font-family: RobotoMono;
    font-weight: 300;
}

.handy {
    font-size: 9pt;
    font-family: Handy;
}

.bottombar p {
    font-size: 7pt;
}

a.source {
    font-family: RobotoMono;
    font-size: 10pt;
    color: #ffffff;
    text-decoration: underline wavy #fbc774;
}


