/* color palette here: https://lospec.com/palette-list/tnr-8 */
/* font families */
@font-face {
    font-family:'cako';
    src: url(./assets/Cako-Regular.ttf);
}
@font-face {
    font-family:'spacemono';
    src: url(./assets/SpaceMono-Regular.ttf);
}
@font-face {
    font-family: 'mulish';
    src: url(./assets/Mulish-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'clearancerequired';
    src: url(./assets/redacted-regular.ttf);
}
body {
    background:fixed;
    background-color: #191e23;
}

/* crt animation */
.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 9;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.10626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.10626;
    }
    30% {
    opacity: 0.18128;
    }
    35% {
    opacity: 0.23604;
    }
}
.crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 9;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

/* shake animation */
.shake {
    animation-name: shaking;
    animation-duration: 0.1s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}
.shake:hover {
    animation-play-state: running;
}
@keyframes shaking {
    0% { transform: translate(1px, 0px) rotate(0deg); }
    10% { transform: translate(0px, 1px) rotate(1deg); }
    20% { transform: translate(1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 0px) rotate(0deg); }
    40% { transform: translate(0px, 1px) rotate(1deg); }
    50% { transform: translate(1px, 0px) rotate(0deg); }
    60% { transform: translate(1px, 0px) rotate(0deg); }
    70% { transform: translate(0px, 1px) rotate(1deg); }
    80% { transform: translate(0px, 1px) rotate(0deg); }
    90% { transform: translate(1px, 0px) rotate(0deg); }
    100% { transform: translate(0px, 1px) rotate(0deg); }
}

.redacted {
    animation-name: unavailable;
    animation-duration: 0.1s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    font-family: clearancerequired;
    font-weight: bold;
    color: black;
}
.redacted:hover {
    animation-play-state: running;
}
@keyframes unavailable {
    0% {
        text-shadow: 0px 0px black;
    }
    10% {
        text-shadow: 2px 0px #a43838;
    }
    20% {
        text-shadow: -1px 0px #a43838;
    }
    30% {
        text-shadow: -2px 0px #a43838;
    }
    40% {
        text-shadow: 0px 0px #a43838;
    }
    50% {
        text-shadow: 2px 0px #a43838;
    }
    60% {
        text-shadow: 0px 0px #a43838;
    }
    70% {
        text-shadow: -2px 0px #a43838;
    }
    80% {
        text-shadow: 0px 0px #a43838;
    }
    90% {
        text-shadow: -2px 1px #a43838;
    }
    100% {
        text-shadow: 0px 0px #a43838;
    }
}
  
/* absolute position content boxes - right on top of background */
containment {
    position: absolute;
    z-index: 0;
    margin-top: 160px;
    margin-left: 655px;
    width: 700px;
    height: 400px;
    background-color: #1f2545;
    border: 1px dotted black;
    overflow: scroll;
    padding: 15px;
}

map {
    position: absolute;
    z-index: 0;
    margin-top: 160px;
    margin-left: 1390px;
    width: 170px;
    height: 430px;
    background-color:#1f2545;
    border: 1px dotted black;
    overflow: scroll;
}

/* text styles */
p.cakomarqueer {
    font-family: cako;
    font-size: 28pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    color: #e95050;
}
p.spacemonomarqueer {
    font-family: spacemono;
    font-size: 28pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    color: #e95050;
}
p.cakomarqueel {
    font-family: cako;
    font-size: 28pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: #e95050;
}
p.spacemonomarqueel {
    font-family: spacemono;
    font-size: 28pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: #e95050;
}
p.cakobyliner {
    font-family: cako;
    font-size: 24pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    color: #a43838;
}
p.spacemonobyliner {
    font-family: spacemono;
    font-size: 24pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    color: #a43838;
}
p.cakobylinel {
    font-family: cako;
    font-size: 24pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: #a43838;
}
p.spacemonobylinel {
    font-family: spacemono;
    font-size: 24pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: #a43838;
}
p.cakotagliner {
    font-family: cako;
    font-size: 20pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    color: #63374a;
}
p.spacemonotagliner {
    font-family: spacemono;
    font-size: 20pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    color: #63374a;
}
p.cakotaglinel {
    font-family: cako;
    font-size: 20pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: #63374a;
}
p.spacemonotaglinel {
    font-family: spacemono;
    font-size: 20pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: #63374a;
}
p.cakodater {
    font-family: cako;
    font-size: 16pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    color: #63374a;
    font-style: italic;
}
p.spacemonodater {
    font-family: spacemono;
    font-size: 16pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: right;
    color: #63374a;
    font-style: italic;
}
p.cakodatel {
    font-family: cako;
    font-size: 16pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: #63374a;
    font-style: italic;
}
p.spacemonodatel {
    font-family: spacemono;
    font-size: 16pt;
    line-height: 5px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: #63374a;
    font-style: italic;
}
.blur {
    font-family: mulish;
    font-size: 12pt;
    color: #ffd7d700;
    text-shadow: 0px 0px 5px #ffd7d7;
}
p {
    font-family: mulish;
    font-size: 12pt;
    color: #ffd7d7;
    text-transform: lowercase;
}
a {
    font-family: spacemono;
    font-size: 12pt;
    color: #ff8d99;
}
a.blur {
    font-family: spacemono;
    font-size: 12pt;
    color: #ff8d9900;
    text-shadow: 0px 0px 5px #ff8d99;
}
li {
    font-family: spacemono;
    font-size: 12pt;
    margin-left: 10px;
    list-style-type: "✧:-";
    color: #e95050;
}
a.nav {
    font-family: spacemono;
    font-size: 12pt;
    font-weight: bold;
    color: #ff8d99;
    letter-spacing: 2pt;
}
p.bottommost {
    margin-bottom: 150px;
    text-transform: lowercase;
}

/* font classes - to add to spans and such */
.cako {
    font-family:'cako';
}
.spacemono {
    font-family:'spacemono';
}
.clearancerequired {
    font-family: 'clearancerequired';
}

/* image stylings */
ownyourgods {
    position: absolute;
    z-index: 3;
    margin-top: 380px;
    margin-left: 1250px;

    img {
        max-width: 350px;
        height: auto;
    }
}

scriptflowers {
    position: absolute;
    z-index: -2;
    margin-top: 50px;
    margin-left: 450px;

    img {
        max-width: 450px;
        height: auto;
    }
}

stitches {
    position: absolute;
    z-index: 2;
    margin-top: 550px;
    margin-left: 1050px;

    img {
        max-width: 550px;
        height: auto;
        rotate: -6deg;
    }
}

goodnightkey {
    position: absolute;
    z-index: 4;
    margin-top: 425px;
    margin-left: 1250px;

    img {
        max-width: 250px;
        height: auto;
        rotate: 6deg;
    }
}

bluemoth {
    position: absolute;
    z-index: -1;
    margin-top: 100px;
    margin-left: 350px;

    img {
        max-width: 450px;
        height: auto;
        rotate: 10deg;
    }
}

blueflower {
    position: absolute;
    z-index: -1;
    margin-top: 50px;
    margin-left: 720px;

    img {
        max-width: 250px;
        height: auto;
        rotate: 10deg;
    }
}

crystalball {
    position: absolute;
    z-index: 1;
    margin-top: 441px;
    margin-left: 680px;

    img {
        max-width: 150px;
        height: auto;
        opacity: 75%;
    }
}