/* import fonts */
@font-face {
    font-family: Handy;
    src: url("./assets/handy.ttf") format("truetype");
}
@font-face {
    font-family: RobotoMono;
    src: url("./assets/robotomono.ttf") format("truetype");
}

/* body & container styles */
body {
    background-image: url('./assets/img/scanlines.png');
    background-color: #111111;
    font-family: RobotoMono;
    color: #fff;
    font-size: 8pt;
    background-position: static;
}

.header {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0;
}

.nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.navitem {
    border:1px solid #444;
    flex-grow: inherit;
    justify-content: center;
    text-align: center;
    background-color: #222;
    padding-top: .25em;
    padding-bottom: .25em;
}

.navitem.selected {
    border:3px double #444;
    flex-grow: inherit;
    justify-content: center;
    text-align: center;
    background-color: #555;
    padding-top: .25em;
    padding-bottom: .25em;
    text-transform: uppercase;
}

.container {
    box-sizing:border-box;
    padding-top: .5em;
    padding-bottom: .5em;
    border:2px solid #444;
    border-top: none;
    background-color: #111111;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 1em;
}

/* text styles */
h1 {
    padding-left: 15px;
    font-size: 20pt;
}

h2 {
    padding-left: 15px;
    font-size: 16pt;
}

h3 {
    padding-left: 15px;;
    font-size: 12pt;
}

p {
    color: #ffffff;
}

.container p {
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    font-family: RobotoMono;
    font-size: 10pt;
}

a {
    color: #ffffff;
    text-decoration: 1px underline solid #fff;
}

.navitem a {
    text-decoration: none;
    font-size: 10pt;
}

.navitem.selected a {
    text-decoration: underline dotted #ffff 2px;
    letter-spacing: 2px;
}

li {
    font-size: 10pt;
    font-family: RobotoMono;
    list-style-type: "⊹.˖";
    margin-right: 15px;
}

.statusbox {
    font-family: RobotoMono;
    font-size: 10pt;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
}

#statuscafe {
    color: #fff;
    margin: 0;
}

#statuscafe-username, a {
    text-decoration: underline;
}

#statuscafe-content {
    font-family: RobotoMono;
    color: #fff;
}
